/*Basic Page Style*/
html {
   font-size: 1em;
}
body {
   background-color: #348b9e;
   font-family: Orbitron, sans-serif;
}

/*new-game styling*/

header {
   color: white;
   text-align: center;
}

.new-game-heading {
   margin-top: 10%;
   margin-bottom: 5%;
   font-size: 4em;
}
.new-game-title {
   margin-top: 1em;
   margin-bottom: 1em;
}

.new-game-easy {
   border-top: 0.5em solid #eee;
   border-right: 1em solid #eee;
   border-bottom: 0.5em solid #eee;
   border-left: 0.5em solid #eee;
   padding-top: 1em;
   padding-right: 5em;
   padding-bottom: 1em;
   padding-left: 0.5em;
   margin-left: 40%;
   margin-right: 25%;
   margin-top: 3%;
   margin-bottom: 3%;
}

.new-game-easy:hover {
   color: #348b9e;
   background-color: #eee;
}
.new-game-hard{
   border-top: 0.5em solid #eee;
   border-right: 0.5em solid #eee;
   border-bottom: 0.5em solid #eee;
   border-left: 1em solid #eee;
   padding-top: 1em;
   padding-right: 0.5em;
   padding-bottom: 1em;
   padding-left: 5em;
   margin-left: 25%;
   margin-right: 40%;
   margin-top: 3%;
   margin-bottom: 3%;
}

.new-game-hard:hover {
   color: #348b9e;
   background-color: #eee;
}

/*index.html styling*/
body {
   margin: 1%;
}

/*index.html header styling*/
.memory-header {
   margin-bottom: 1em;
}
.memory-title {
   text-align: center;
   /*padding-top: 2em;*/
   /*padding-bottom: 2em;*/
   font-size: 4em;
}
.memory-lives {
   float: left;
}
.memory-time {
   float:right;
}

/*index.html ul styling*/
.memory-game {
   margin-top: 5em;
   border: 1px solid black;
}
.memory-tileset {
   list-style: none;
   padding: 0;
   /*vertical-align: middle;*/
}
.memory-tile {
   display: inline;
}

/*flipping tile styling*/
.tile {
   padding: 3em;
   display: inline-block;
   border: 1px solid black;
   border-radius: 0.8em;
   background-color: #778899;
   transition: background 1s, -webkit-transform 1s;
}
input {
   height: 100px;
   width: 100px;
   display: none;
}

input:checked +.tile {
   background: red;
   -webkit-transform: rotateY(180deg);
}
