/*Basic Page Style*/
html {
   font-size: 1em;
}
body {
   background-color: #348b9e;
   font-family: Orbitron, sans-serif;
}

/*new-game styling*/

header {
   color: #eee;
   text-align: center;
}

.new-game-heading {
   margin-top: 10%;
   margin-bottom: 5%;
   font-size: 4em;
}
.new-game-title {
   margin-top: 1em;
   margin-bottom: 1em;
}

.new-game-easy {
   border: 0.5em solid #eee;
   width: auto;
   display: inline-block;
   padding-right: 3em;
   color: #eee;
}

.new-game-easy:hover {
   color: #348b9e;
   background-color: #eee;
}
.new-game-easy-link {
   text-decoration: none;
}

.new-game-easy-link:hover a {
   color: #348b9e;
}
.new-game-hard{
   border: 0.5em solid #eee;
   width: auto;
   display: inline-block;
   padding-left: 3em;
   color: #eee;
}

.new-game-hard:hover {
   color: #348b9e;
   background-color: #eee;
}
.new-game-hard-link {
   text-decoration: none;
}
.new-game-hard-link a:hover{
   color: #348b9e;
}

/*index.html styling*/
body {
   margin: 1%;
}

/*index.html header styling*/
.memory-header {
   margin-bottom: 1em;
}
.memory-title {
   text-align: center;
   /*padding-top: 2em;*/
   /*padding-bottom: 2em;*/
   font-size: 4em;
}
.memory-lives {
   float: left;
}
.memory-time {
   float:right;
}

/*index.html ul styling*/
.memory-game {
   margin-top: 5em;
   border: 1px solid black;
}
.memory-tileset {
   list-style: none;
   padding: 0;
   /*vertical-align: middle;*/
}
.memory-tile {
   display: inline;
   margin: 0.4em;
}

/*flipping tile styling*/
.tile {
   padding: 3em;
   display: inline-block;
   border: 1px solid black;
   border-radius: 0.8em;
   background-color: #778899;
   color: transparent;
   transition: background 1s, -webkit-transform 1s;
   height: 2em;
   width: 2em;
}
input {
   /*height: 2em;
   width: 2em;*/
   display: none;
}

input:checked +.tile {
   background: red;
   -webkit-transform: rotateY(180deg);
   color: white;
}
